[user]
	email = 58859899+ryanhamamura@users.noreply.github.com
	name = Ryan Hamamura
  username = ryanhamamura
[init]
  defaultBranch = main
#[remote "origin"]
#  fetch = +refs/heads/*:refs/remotes/origin/*
#  tagOpt = --tags
